#hora{
    -fx-font-size:22px;
    -fx-text-fill:white;
}

#botonesVI{
    -fx-background-color:lightblue;
    -fx-padding: 0.5em;
    -fx-resize: none; 
}

#video{
    -fx-resize: none; 
}

#botonesVI:hover{
    -fx-border-color:blue;
    -fx-cursor:hand;  
}

